<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Fitness board</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- 로그인 링크 -->
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/user/login}">로그인</a>
                </li>
                <!-- 회원 가입 링크 -->
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
                </li>
                <!-- 사용자 이름과 회원 정보, 수정, 로그아웃 링크 -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <span class="nav-link" th:text="${#authentication.getName()}"></span>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/user/info}">회원 정보</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/user/modify}">정보 수정</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/user/logout}">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
